<header>
    <nav class="bg-white border-black py-2.5 navbar dark:bg-gray-800">
        <div class="flex justify-between items-center ml-4">
          <a href="" class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Patients</span>
          </a>
          <div class="flex items-center mr-4">
            <span class="text-white">Dave (Admin)</span>
          </div>
        </div>
      </nav>
      
</header>
<router-outlet></router-outlet>
